@model WorkoutData.Models.DayProgram
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Today is @Model.day.Length</p>
        <p>There are XX exercises</p>


    </div>
